<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Delete a course</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'course/style.css' %}">
    </head>
    <body>
        <div class="main">
            <h1>Are you sure you want to delete the following course?</h1>
            <p>Name: {{ course.name }}</p>
            <p>Description: {{ course.desc }}</p>
            <a href="/"><button id="no">No</button></a>
            <a href="/courses/{{ course.id }}/delete"><button id="yes">Yes! I want to delete this</button></a>
        </div>
    </body>
</html>
