<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'course/style.css' %}">
    </head>
    <body>
        <div class="main">
            <h1>Add a new course</h1>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form action="/courses/create" method="POST">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <td>Name: </td>
                            <td><input type="text" name="name"></td>
                        </tr>
                        <tr>
                            <td>Description: </td>
                            <td><textarea type="text" name="desc" rows="8" cols="50"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Add">
            </form>
            <h1>Courses</h1>
            <table>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{{ course.desc }}</td>
                        <td>{{ course.created_at }}</td>
                        <td><a href="/courses/{{ course.id }}/confirm">remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </body>
</html>
