<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h2>Information About Ninjas</h2>
        <div class="info">
            <h4>Ninja #1</h4>
            <p>First name: Silent</p>
            <p>Last name: Ninja</p>
            <p>Height: 6'5"</p>
            <p>Age: access denied</p>
            <p>Favorite color: black</p>
        </div>
        <div class="info">
            <h4>Ninja #2</h4>
            <p>First name: Fast</p>
            <p>Last name: Ninja</p>
            <p>Height: 5'8"</p>
            <p>Age: access denied</p>
            <p>Favorite color: black</p>
        </div>
    </body>
</html>
