.half{
    display: inline-block;
    height: 500px;
    width: 40%;
    vertical-align: top;
    border: 2px solid black;
    padding: 30px;
    margin: 20px;
}

input{
    margin: 10px;
}
.big{
    font-size: 2em;
}
