<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Amadon Checkout</title>
    </head>
    <body>
        <div class="main">
            <h1>Thank you for your business!</h1>
            <p>We charged your credit card for ${{ request.session.last_transaction }}.</p>
            <p>You have ordered {{ request.session.total_items }} itmes so far and spent ${{ request.session.total_charged }} with Amadon.com!</p>
            <a href="/">Go back</a>
        </div>
    </body>
</html>
