<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email Validation with DB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% for message in messages %}
            <p class="no">{{message}}</p>
        {% endfor %}
        <form action="/add_user" method="POST">
            Email Address: <input type="text" name="email">
            <input type="submit" value="Submit">

        </form>
    </body>
</html>
