.main{
    padding: 30px;
}
table{
    border-collapse: collapse;
    width: auto;
    height: auto;
}

td{
    padding: 5px;
    text-align: right;
}

.button{
    padding: 5px;
    color: white;
    background: grey;
}
